@font-face {
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat/Montserrat-Light.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
}
@font-face {
  font-family: "Bounded-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Bounded/Bounded-Medium.woff") format("woff");
}
@font-face {
  font-family: "Bounded-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Bounded/Bounded-Bold.woff") format("woff");
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-600";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-600.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-900";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-900.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-regular";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/fonts/icomoon.eot?za5w69");
  src: url("../fonts/icomoon/fonts/icomoon.eot?za5w69#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.ttf?za5w69") format("truetype"), url("../fonts/icomoon/fonts/icomoon.woff?za5w69") format("woff"), url("../fonts/icomoon/fonts/icomoon.svg?za5w69#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*--tiny-slider--*/
/*--end tiny-slider--*/
/*--FormHandler-*/
/*--end FormHandler--*/
/*--spoilers-*/
/*--------------------adjustment----------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat-Light", sans-serif;
  font-weight: normal;
  font-size: 15px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #fff;
  background-color: #180C1D;
}
.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  overflow-behavior: none;
}

a {
  color: inherit;
}

img {
  vertical-align: top;
}

ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

input input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  appearance: none;
}

.input,
input {
  border-radius: 0;
  outline: none;
  display: block;
  width: 100%;
  border: 0 none;
}

textarea {
  resize: none;
  padding: 0 0;
}

[class*=__wrapper] {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}

.hidden {
  display: none !important;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 52.25%;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

._prod-img {
  position: relative;
  padding-bottom: 80%;
}
._prod-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

._fit {
  padding-bottom: 80%;
  position: relative;
}

._fit ._fit-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  object-fit: cover;
  object-position: center center;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) or (--webkit-backdrop-filter: blur(10px)) {
  .bd-filter-fallback {
    background-color: rgba(255, 255, 255, 0.72);
    -webkit-backdrop-filter: blur(31px);
    backdrop-filter: blur(31px);
  }
}

.form__label {
  display: block;
}
.form__label:not(:last-child) {
  margin-bottom: 1.5rem;
}
.form__label--error .form__error-text {
  display: block;
}

.form__label-inner {
  position: relative;
}

.form__input {
  height: 47px;
  padding-left: 13px;
  padding-right: 13px;
  margin-bottom: 16px;
  border-radius: 16px;
  border: 1px solid #3C3141;
  background: #302435;
  color: #fff;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
}
.form__input::-webkit-input-placeholder {
  color: #97919A;
  opacity: 1;
}
.form__input::-moz-placeholder {
  color: #97919A;
  opacity: 1;
}
.form__input:-moz-placeholder {
  color: #97919A;
  opacity: 1;
}
.form__input:-ms-input-placeholder {
  color: #97919A;
  opacity: 1;
}

.form__placeholder {
  position: absolute;
  top: 50%;
  left: 16px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 1;
  color: #8E8E93;
  transition: all 0.2s;
  pointer-events: none;
}

.form__error-text {
  display: none;
  margin-top: 0.5rem;
  color: red;
  font-size: 0.875rem;
  line-height: 1;
}

.form__custom-policy {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.form__custom {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 20px;
}

.form__check {
  position: absolute;
  box-sizing: border-box;
  width: 1px;
  height: 1px;
  display: block;
  left: 50%;
  top: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.form__check:checked + .form__custom-chek:before {
  display: block;
}

.form__custom-chek {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 2px;
}
@media (any-hover: hover) {
  .form__custom-chek:hover {
    cursor: pointer;
  }
}
.form__custom-chek:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: #000;
  content: "";
}

.form__area {
  width: 100%;
  height: 100px;
  padding: 20px;
  resize: none;
  border: none;
  background: #fff;
  padding-left: 20px;
  color: #222222;
  font-family: inherit;
}

.eye-ico {
  width: 24px;
  height: 24px;
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  position: absolute;
  bottom: 12px;
  right: 20px;
}
@media (any-hover: hover) {
  .eye-ico {
    cursor: pointer;
  }
}
.eye-ico .icon {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 14px;
}
.eye-ico.unblind .eye-ico__show {
  display: block;
}
.eye-ico.unblind .eye-ico__hide {
  display: none;
}
.eye-ico .eye-ico__show {
  display: none;
}

.inp-reset {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  position: absolute;
  top: 50%;
  right: 16px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (any-hover: hover) {
  .inp-reset {
    cursor: pointer;
  }
}

/*--------------------END adjustment----------------------*/
/*--------------------ui----------------------*/
.btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding-inline: 88px;
  padding-top: 4px;
  height: 52px;
  border: none;
  border-bottom: 3px solid #861619;
  color: #fff;
  text-decoration: none;
  background-color: #FF4B50;
  font-size: 16px;
  line-height: 1;
  font-family: "Bounded-Bold", sans-serif;
  text-transform: uppercase;
  border-radius: 16px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color 0.1s ease;
}
@media (any-hover: hover) {
  .btn {
    cursor: pointer;
  }
  .btn:hover {
    background-color: #ff6569;
  }
}
.btn:active {
  background-color: #ff3237;
}
.btn-fw {
  width: 100%;
}

/*--------------------END ui----------------------*/
/*--------------------footer----------------------*/
/*--------------------END footer----------------------*/
/*--------------------header----------------------*/
/*--------------------END header----------------------*/
/*--------------------payment----------------------*/
.payment-page {
  position: relative;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}
@media only screen and (max-width: 47.99875em) {
  .payment-page {
    padding-block: 5.1875rem;
  }
}
@media only screen and (max-width: 30em) {
  .payment-page {
    padding-block: 6.0625rem;
  }
}

.payment {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 900px;
  min-height: 541px;
  padding-block: 86px;
  padding-inline: 39px;
  margin-inline: auto;
  display: -ms-flexbox;
  display: flex;
  border-radius: 32px;
  background-color: #231628;
}
@media only screen and (max-width: 47.99875em) {
  .payment {
    max-width: 33.5rem;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 3rem;
  }
}
@media only screen and (max-width: 36em) {
  .payment {
    max-width: 20.75rem;
    padding: 4.0625rem 1rem;
  }
}

.payment__column {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.payment__logo {
  margin-bottom: 40px;
  display: inline-block;
  text-align: center;
  font-family: "Bounded-Bold", sans-serif;
  font-size: 20px;
  line-height: 0.8;
  text-decoration: none;
}

.payment__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.payment__container:after {
  content: "";
  position: absolute;
  right: 0;
  top: -20px;
  width: 0.0625rem;
  height: calc(100% - 44px);
  background: rgba(255, 255, 255, 0.1);
}
@media only screen and (max-width: 47.99875em) {
  .payment__container:after {
    display: none;
  }
}
@media only screen and (max-width: 47.99875em) {
  .payment__container {
    padding-bottom: 48px;
    border-bottom: 1px solid rgba(255, 75, 80, 0.2);
  }
}
@media only screen and (min-width: 47.99875em) {
  .payment__container {
    padding-right: 1.3125rem;
  }
}

.payment__content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}

.payment__header {
  text-align: center;
}

.payment__title {
  margin-bottom: 16px;
  font-size: 32px;
  font-family: "Montserrat-Bold", sans-serif;
}

.payment__subtitle {
  margin-bottom: 16px;
  font-size: 16px;
}

@media only screen and (max-width: 47.99875em) {
  .order__form--payment {
    max-width: 24.375rem;
    margin-inline: auto;
  }
}
.order__form--payment .form-order__input {
  padding-inline: 0.75rem;
  margin-bottom: 1rem;
  background-color: #fff;
  color: #808080;
  text-align: left;
}
.order__form--payment .form-order__input::-webkit-input-placeholder {
  color: #808080;
  opacity: 1;
}
.order__form--payment .form-order__input::-moz-placeholder {
  color: #808080;
  opacity: 1;
}
.order__form--payment .form-order__input:-moz-placeholder {
  color: #808080;
  opacity: 1;
}
.order__form--payment .form-order__input:-ms-input-placeholder {
  color: #808080;
  opacity: 1;
}
.order__form--payment .form-order__input--code {
  text-align: center;
}
.order__form--payment .form-order__input--mb24 {
  margin-bottom: 1.5rem;
}

.form-order__text {
  margin-bottom: 1rem;
  text-align: center;
}
.form-order__code {
  margin-bottom: 0.5rem;
  display: -ms-flexbox;
  display: flex;
  column-gap: 1rem;
}
.form-order__code input::-webkit-outer-spin-button,
.form-order__code input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.form-order__input--align-left {
  text-align: left;
}
.form-order__input--code {
  -ms-flex: 0 0 5.34375rem;
  flex: 0 0 5.34375rem;
  -moz-appearance: textfield;
}
@media only screen and (max-width: 36em) {
  .form-order__input--code {
    -ms-flex-preferred-size: 3.9375rem;
    flex-basis: 3.9375rem;
  }
}

.form-order__cols {
  display: -ms-flexbox;
  display: flex;
  column-gap: 1.125rem;
}

.form-order__col {
  -ms-flex: 0 0 calc(50% - 0.5625rem);
  flex: 0 0 calc(50% - 0.5625rem);
}

.form-order__bottom {
  text-align: center;
}

.payment__logos {
  margin-top: 1.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  column-gap: 1rem;
}
.payment__logos img {
  display: block;
  max-height: 1.4375rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.payment__info {
  padding-top: 125px;
}
@media only screen and (max-width: 47.99875em) {
  .payment__info {
    padding-top: 2.375rem;
  }
}
@media only screen and (max-width: 36em) {
  .payment__info {
    padding-top: 2.125rem;
  }
}
@media only screen and (min-width: 47.99875em) {
  .payment__info {
    padding-left: 2rem;
  }
}
.payment__info .payment__title {
  line-height: 1;
  margin-bottom: 1.8125rem;
}

.info-payment__title {
  margin-bottom: 1rem;
  font-family: "Bounded-Medium", sans-serif;
}

.info-payment__target {
  margin-bottom: 8px;
  font-family: "Montserrat-Medium", sans-serif;
}

.info-payment__help {
  margin-top: 2.125rem;
}
@media only screen and (max-width: 47.99875em) {
  .info-payment__help {
    margin-top: 2.3125rem;
  }
}
@media only screen and (max-width: 36em) {
  .info-payment__help {
    margin-top: 2.125rem;
  }
}

.info-payment__soc-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.75rem;
}

.info-payment__soc-item {
  list-style-type: none;
}

.info-payment__soc-link {
  padding-left: 0.5rem;
  padding-right: 0.875rem;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 0.625rem;
  height: 2.125rem;
  border-radius: 6.25rem;
  font-size: 0.875rem;
  font-family: "Montserrat-Medium", sans-serif;
  color: #fff;
  background: #2AABEE;
  text-decoration: none;
}

.info-payment__bottom {
  margin-top: 23px;
}
@media only screen and (min-width: 47.99875em) {
  .info-payment__bottom {
    max-width: 281px;
  }
}
.info-payment__bottom a {
  color: #FF4B50;
  text-decoration: none;
}

.payment__qrcode {
  margin-top: 1.75rem;
  max-width: 12.5rem;
  margin-inline: auto;
}
.payment__qrcode img {
  display: block;
}

/*--------------------END payment----------------------*/
/*# sourceMappingURL=maps/main.css.map */
