aside.multilevel-panel
	button.toggle-mnu.on#multilevel-panel-close
		span
	.multilevel-panel__back
		button#menu-back Назад
	ul.multilevel-menu
		li
			a(href='') contacts
		li
			a(href='') about
		li
			a(href='') cart
		li.with-submenu
			a(href='') about
			ul
				li
					a(href='') subAbout 1
				li
					a(href='') subAbout 2
				li
					a(href='') subAbout 3