/*--------------------breadcrumbs----------------------*/
$arrowsWidth: 30px;
.breadcrumbs {

    &[data-scroll-wrapper]{
        display: flex;
        align-items: center;

        .back-icon-hidden &{
            padding-left: $arrowsWidth;
        }
        .next-icon-hidden &{
            padding-right: $arrowsWidth;
        }

    }

}
.breadcrumbs__arrow{
    flex: 0 0 $arrowsWidth;

    &--prev{
        .back-icon-hidden &{
            // visibility: hidden;
            display: none;
        }
    }
    &--next{
        .next-icon-hidden &{
           // visibility: hidden;
           display: none;
        }
    }
}
.breadcrumbs__list {
    // padding-top: rem(24px);
    // margin-bottom: rem(30);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(6px);
    user-select: none;
    // outline: 1px solid red;

    &[data-scroll-tabs]{
        overflow-x: auto;
        flex: 1 1 auto;
        flex-wrap: nowrap;
    }
}
.breadcrumbs__link,
.breadcrumbs__item span {
    font-size: rem(12px);
    font-family: inherit;
    line-height: math.div(16,12);
    text-decoration: none;
    color: #8E8E93;
}
.breadcrumbs__item {
    position: relative;
    list-style-type: none;
    display: flex;
    align-items: center;

    &:not(:last-child){
        &:after{
            content: '/';
            display: inline-block;
            vertical-align: baseline;
            margin-left: rem(4);
            color: #8E8E93;
        }  
    }
   
   span{
        color: $text;
   }
}

/*--------------------END breadcrumbs----------------------*/ 