.form__label{
	display: block;
	&:not(:last-child){
		margin-bottom: rem(24);
	}

	&--error{
		.form__error-text{
			display: block;
		}
	}

}
.form__label-inner{
	position: relative;
}
.form__input {
	height: 47px;
	padding-left:13px;
	padding-right:13px;
	margin-bottom: 16px;
	border-radius: 16px;
	border: 1px solid #3C3141;
	background: $bginp;
	@include placecolor($textinp);
	color: #fff;
	font-family: $med;
	font-size: 16px;

	&--code{
		flex: 0 0 rem(85.5);
		-moz-appearance: textfield;
		text-align: center;

		@include max-screen($xs){
			flex-basis: rem(63);
		}
		@include max-screen($min){
			flex: 0 1 25%;
			padding-inline: 5px;
		}
	}
}
.form__placeholder{
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	font-size: 14px;
	line-height: 1;
	color: #8E8E93;
	transition: all .2s;
	pointer-events: none;
}
.form__error-text{
	display: none;
	margin-top: rem(8px);
	color: red;
	font-size: rem(14px);
	line-height: 1;
}
.form__custom-policy {
	display: flex;
	align-items: flex-start;

}
.form__custom {
	position: relative;
	flex-shrink: 0;
	margin-right: 20px;
}
.form__check {
	@include checkbox;
	&:checked + .form__custom-chek {
		&:before{
			display: block;
		}
	}
}
.form__custom-chek {
	display: block;
	position: relative;
	width: 16px;
	height: 16px;
	border: 1px solid #000;
	border-radius: 2px;

	@media (any-hover: hover) { //только для устройств с ховером
				&:hover{
				cursor: pointer;
			}
		}
	&:before{
		@include absolute-center-old;
		display: none;
		width: 8px;
		height: 8px;
		border-radius: 2px;
		background-color: #000;
		content: '';
	}
}
.form__area{
	width: 100%;
	height: 100px;
	padding:20px;
    resize: none;
	border: none;
	background: #fff;
	padding-left: 20px;
	color: #222222;
	font-family: inherit;
}
.form__policy {

}
// иконка глаза для скрытия пароля
// gist - "password input eye"
.eye-ico{
	width: 24px;
	height: 24px;
	position: relative;
	@include but-null();
	position: absolute;
	bottom: 12px;
	right: 20px;

	.icon{
		@include absolute-center;
		font-size: 14px;
	}

	&.unblind{
		.eye-ico__show{
			display: block;

		}
		.eye-ico__hide{
			display: none;

		}
	}

	.eye-ico__show{
		display: none;
	}

}
.inp-reset{
	@include but-null();
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);
}