$maxWidth: 1920;//ширина макета в граф. редакторе
$minWidth: 320;
$maxWidthContainer: 1170;//ширина ограничивающего контейнера без паддингов
$containerPaddings: 30;//сумма левого и правого паддингов ограничивающего контейнера
$maxContainerWidth: $maxWidthContainer + $containerPaddings;// итоговая ширина ограничивающего контейнера

// colors
$accent: #FF4B50;
$text: #fff;
$bgdark: #180C1D;
$bgfield: #231628;
$bginp: #302435;
$textinp: #97919A;

// paths
	// use: background-image: url($icos + 'arrow-right.svg');
$img: '../img/';
$icos: '../img/icons/';
$svg: '../img/icons-svg/';


// media
$lg: em(1199);
$md: em(991);
$sm: em(767.98);
$xs: em(576);
$xss: em(480);
$xsss: em(375);
$min: em(360);
$mins: em(320);

// point for multilevel-pnel | размер, на котором multilevel-dropdown превращается в multilevel-panel и наоборот
$multilevelPoint: 1100px;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1170px);

$gutter: $grid-gutter-width;

$light: 'Montserrat-Light', sans-serif;
$med: 'Montserrat-Medium', sans-serif;
$bold: 'Montserrat-Bold', sans-serif;

$Bmed: 'Bounded-Medium', sans-serif;
$Bbold: 'Bounded-Bold', sans-serif;

