.payment__column
	.payment__info.info-payment
		.info-payment__title VPSale
		.payment__title 322.22 руб.
		.info-payment__target Назначение платежа
		.info-payment__text Оплата счета 256352073

		.info-payment__bottom
			.info-payment__text Совершая оплату 
				br
				| вы соглашаетесь 
				br
				| с #[a(href="#") договором офферты]